<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landscaping</title>
    <!-- Власні стилі -->
    <link rel="stylesheet" href="../style/css/main.css">
    <link rel="stylesheet" href="../style/css/portfolio.css">

    <!-- Стилі Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Підключення іконок -->
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/houzz.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<!---------------------------------------------------------------- HEADER ------------------->

<div id="header-fixed-scroll" class="header-fixed">
    <div class="header__container">
        <div class="header__logo">
            <a class="header__logo__a" href="../index.html"><img src="https://img.icons8.com/color/48/000000/houzz.png">Landscaping</a>
        </div>
        <div class="header__menu ">
            <div class="menu__container">
                <ul class="menu__container__ul" id="myTopmenu">
                    <li class="menu-item"><a href="../index.html">Головна</a></li>
                    <li class="menu-item"><a href="portfolio.html">Портфоліо</a></li>
                    <li class="menu-item"><a href="services.html">Послуги</a></li>
                    <li class="menu-item"><a href="about.html">Про нас</a></li>
                    <li class="menu-item"><a href="contact.html">Контакти</a></li>
                    <li class="menu-item"><a id="menu" class="menu-item-icon" href="#">&#9776</a> </li>
                </ul>
            </div>
        </div>
        <div class="header__social">
            <div class="header-social-icon">
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>
                <a class="header-button" href="../login.html">Вхід</a>
                <!--                <button class="header-button">Sign up</button>-->
            </div>
        </div>

    </div>
</div>



<!--------------------------------------------------------------PORTFOLIO ------------------->
<div class="portfolio landing-section">
    <div class="portfolio-header">
        <h3>Наші проекти</h3>
    </div>
    <div class="portfolio__button" id='filter'>
        <button class="all">Всі проекти</button>
        <button class="category-b">Ландшафтний дизайн</button>
        <button class="category-c">Басейни</button>
        <button class="category-d">Топіарні форми</button>
        <button class="category-e">Озеленення даху</button>
        <button class="category-a">Ландшафтне проектування</button>
    </div>
    <div class="portfolio-main" id='posts'>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-e"><img class="myImg" src="../img/build/portfolio/roof1.jpg" alt="Озеленення даху">
            <div class="overlay">Озеленення даху</div>
        </div>
        <div class="post all category-e"><img class="myImg" src="../img/build/portfolio/roof2.jpg" alt="Озеленення даху">
            <div class="overlay">Озеленення даху</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image2.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-d"><img class="myImg" src="../img/build/portfolio/topiar1.jpg" alt="Топіарні форми">
            <div class="overlay">Топіарні форми</div>
        </div>
        <div class="post all category-d"><img class="myImg" src="../img/build/portfolio/topiar2.jpg" alt="Топіарні форми">
            <div class="overlay">Топіарні форми</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image3.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-c"><img class="myImg" src="../img/build/portfolio/basin1.jpg" alt="Басейн">
            <div class="overlay">Басейн</div>
        </div>
        <div class="post all category-e"><img class="myImg" src="../img/build/portfolio/roof3.jpg" alt="Озеленення даху">
            <div class="overlay">Озеленення даху</div>
        </div>
        <div class="post all category-e"><img class="myImg" src="../img/build/portfolio/roof6.jpg" alt="Озеленення даху">
            <div class="overlay">Озеленення даху</div>
        </div>
        <div class="post all category-c"><img class="myImg" src="../img/build/portfolio/basin2.jpg" alt="Басейн">
            <div class="overlay">Басейн</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image4.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image5.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image6.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-e"><img class="myImg" src="../img/build/portfolio/roof5.jpg" alt="Озеленення даху">
            <div class="overlay">Озеленення даху</div>
        </div>
        <div class="post all category-e"><img class="myImg" src="../img/build/portfolio/roof7.jpg" alt="Озеленення даху">
            <div class="overlay">Озеленення даху</div>
        </div>
        <div class="post all category-d"><img class="myImg" src="../img/build/portfolio/topiar1.jpg" alt="Топіарні форми">
            <div class="overlay">Топіарні форми</div>
        </div>
        <div class="post all category-d"><img class="myImg" src="../img/build/portfolio/topiar2.jpg" alt="Топіарні форми">
            <div class="overlay">Топіарні форми</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image7.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image8.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image9.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-c"><img class="myImg" src="../img/build/portfolio/basin3.jpg" alt="Басейн">
            <div class="overlay">Басейн</div>>
        </div>
        <div class="post all category-c"><img class="myImg" src="../img/build/portfolio/basin4.jpg" alt="Басейн">
            <div class="overlay">Басейн</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image10.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-d"><img class="myImg" src="../img/build/portfolio/topiar3.jpg" alt="Топіарні форми">
            <div class="overlay">Топіарні форми</div>
        </div>
        <div class="post all category-d"><img class="myImg" src="../img/build/portfolio/topiar4.jpg" alt="Топіарні форми">
            <div class="overlay">Топіарні форми</div>
        </div>
        <div class="post all category-b"><img class="myImg" src="../img/build/portfolio/image11.jpeg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-b"><img src="../img/build/portfolio/image12.jpg" alt="Ландшафтний дизайн">
            <div class="overlay">Ландшафтний дизайн</div>
        </div>
        <div class="post all category-c"><img class="myImg" src="../img/build/portfolio/basin5.jpg" alt="Басейн">
            <div class="overlay">Басейн</div>
        </div>
        <div class="post all category-c"><img class="myImg" src="../img/build/portfolio/basin6.jpg" alt="Басейн">
            <div class="overlay">Басейн</div>
        </div>
        <div class="post all category-d"><img class="myImg" src="../img/build/portfolio/topiar5.jpg" alt="Топіарні форми">
            <div class="overlay">Топіарні форми</div>
        </div>
        <div class="post all category-a"><img class="myImg" src="../img/build/portfolio/project1.jpg" alt="Проект#">
            <div class="overlay">Проект#</div>
        </div>
        <div class="post all category-a"><img class="myImg" src="../img/build/portfolio/project2.jpeg" alt="Проект#">
            <div class="overlay">Проект#</div>
        </div>
        <div class="post all category-a"><img class="myImg" src="../img/build/portfolio/project3.jpeg" alt="Проект#">
            <div class="overlay">Проект#</div>
        </div>
        <div class="post all category-a"><img class="myImg" src="../img/build/portfolio/project4.jpeg" alt="Проект#">
            <div class="overlay">Проект#</div>
        </div>
        <div class="post all category-a"><img class="myImg" src="../img/build/portfolio/project5.jpeg" alt="Проект#">
            <div class="overlay">Проект#</div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>

    </div>
</div>


<!--------------------------------------------------------------- FOOTER ---------------------------------------->
<section class="footer ">
    <div class="footer__container">
        <div class="footer__container-coll-3">
            <h6 class="footer-name">Landscaping</h6>
            <p>Вирішить всі ваші проблеми!</p>
        </div>

        <div class="footer__container-coll-3">
            <h6 class="footer-social">Наш профіль в соціальних мережах:</h6>
            <p class="footer-social-icon">
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://vk.com" target="blank"><i class="fa fa-vk"></i></a>
                <a href="https://twitter.com" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com" target="blank"><i class="fa fa-youtube"></i></a>
            </p>

        </div>

        <div class="footer__container-coll-3">
            <h6>Потрібно шось тут написати</h6>
            <p>Потрібно шось тут написати!</p>
        </div>

    </div>
</section>




Підключаємо jquery
<script src="../libs/jquery/jquery-3.4.1.min.js"></script>

Підключаємо власний JavaScript
<script src="../js/portfolioFilter.js"></script>

</body>
</html>