<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landscaping</title>
    <!-- Власні стилі -->
    <link rel="stylesheet" href="../style/css/main.css">

    <!-- Стилі Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Підключення іконок -->
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/houzz.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<!---------------------------------------------------------------- HEADER ------------------->

<div id="header-fixed-scroll" class="header-fixed">
    <div class="header__container">
        <div class="header__logo">
            <a class="header__logo__a" href="../index.html"><img src="https://img.icons8.com/color/48/000000/houzz.png">Landscaping</a>
        </div>
        <div class="header__menu ">
            <div class="menu__container">
                <ul class="menu__container__ul" id="myTopmenu">
                    <li class="menu-item"><a href="../index.html">Головна</a></li>
                    <li class="menu-item"><a href="portfolio.html">Портфоліо</a></li>
                    <li class="menu-item"><a href="services.html">Послуги</a></li>
                    <li class="menu-item"><a href="about.html">Про нас</a></li>
                    <li class="menu-item"><a href="contact.html">Контакти</a></li>
                    <li class="menu-item"><a id="menu" class="menu-item-icon" href="#">&#9776</a> </li>
                </ul>
            </div>
        </div>
        <div class="header__social">
            <div class="header-social-icon">
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>
                <a class="header-button" href="../login.html">Вхід</a>
                <!--                <button class="header-button">Sign up</button>-->
            </div>
        </div>

    </div>
</div>







<!--------------------------------------------------------------- FOOTER ---------------------------------------->
<section class="footer ">
    <div class="footer__container">
        <div class="footer__container-coll-3">
            <h6 class="footer-name">Landscaping</h6>
            <p>Вирішить всі ваші проблеми!</p>
        </div>

        <div class="footer__container-coll-3">
            <h6 class="footer-social">Наш профіль в соціальних мережах:</h6>
            <p class="footer-social-icon">
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://vk.com" target="blank"><i class="fa fa-vk"></i></a>
                <a href="https://twitter.com" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com" target="blank"><i class="fa fa-youtube"></i></a>
            </p>

        </div>

        <div class="footer__container-coll-3">
            <h6>Потрібно шось тут написати</h6>
            <p>Потрібно шось тут написати!</p>
        </div>

    </div>
</section>

</body>
</html>