<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landscaping</title>
    <!-- Власні стилі -->
    <link rel="stylesheet" href="../style/css/main.css">
    <link rel="stylesheet" href="../style/css/services.css">

    <!-- Стилі Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Підключення іконок -->
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/houzz.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
<!---------------------------------------------------------------- HEADER ------------------->

<div id="header-fixed-scroll" class="header-fixed">
    <div class="header__container">
        <div class="header__logo">
            <a class="header__logo__a" href="../index.html"><img src="https://img.icons8.com/color/48/000000/houzz.png">Landscaping</a>
        </div>
        <div class="header__menu ">
            <div class="menu__container">
                <ul class="menu__container__ul" id="myTopmenu">
                    <li class="menu-item"><a href="../index.html">Головна</a></li>
                    <li class="menu-item"><a href="portfolio.html">Портфоліо</a></li>
                    <li class="menu-item"><a href="services.html">Послуги</a></li>
                    <li class="menu-item"><a href="about.html">Про нас</a></li>
                    <li class="menu-item"><a href="contact.html">Контакти</a></li>
                    <li class="menu-item"><a id="menu" class="menu-item-icon" href="#">&#9776</a> </li>
                </ul>
            </div>
        </div>
        <div class="header__social">
            <div class="header-social-icon">
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>
                <a class="header-button" href="../login.html">Вхід</a>
                <!--                <button class="header-button">Sign up</button>-->
            </div>
        </div>

    </div>
</div>

<section class="services landing-section">
<!--------------------------------------ПЕРЕЛІК ПОСЛУГ--------------------------------------------------------->
    <div class="services__header">
        <h3>Повний спектр послуг в ландшафтному дизайні</h3>
    </div>

    <div class="flex__container">
        <div><img src="../img/services/main_proekt.jpg"><a href=""><p>Ландшафтне проектування</p></a></div>
        <div><img src="../img/services/main1_ld.jpg"><a href=""><p>Ландшафтний дизайн</p></a></div>
        <div><img src="../img/services/main1_ozelenenie.jpg"><a href=""><p>Озеленення</p></a></div>
        <div><img src="../img/services/main1_gazon.jpg"><a href=""><p>Укладання газону</p></a></div>
        <div><img src="../img/services/main1_avtopoliv.jpg"><a href=""><p>Автополив</p></a></div>
        <div><img src="../img/services/main1_service.jpg"><a href=""><p>Сервіс та обслуговування</p></a></div>
        <div><img src="../img/services/main1_moh.jpg"><a href=""><p>Скандинавський мох</p></a></div>
        <div><img src="../img/services/main1_fitosteni.jpg"><a href=""><p>Фітостени</p></a></div>
        <div><img src="../img/services/main1_basein.jpg"><a href=""><p>Будівництво басейнів</p></a></div>
        <div><img src="../img/services/main1_vodopad.jpg"><a href=""><p>Штучний водоспад</p></a></div>
        <div><img src="../img/services/main1_vodoem.jpg"><a href=""><p>Будівництво водойм</p></a></div>
        <div><img src="../img/services/main1_postavka_rastemiy.jpg"><a href=""><p>Поставка рослин</p></a></div>
        <div><img src="../img/services/main1_osvesh.jpg"><a href=""><p>Ландшафтне освітлення</p></a></div>
        <div><img src="../img/services/main1_topiarnaya_strizhka.jpg"><a href=""><p>Топіарне стрижка</p></a></div>
        <div><img src="../img/services/main1_topiarnie_formi.jpg"><a href=""><p>Топіарниє форми</p></a></div>
        <div><img src="../img/services/main1_drenazh_systemi.jpg"><a href=""><p>Дренажні системи</p></a></div>
        <div><img src="../img/services/main1_podpormiy_stenki.jpg"><a href=""><p>Підпірна стінка</p></a></div>
        <div><img src="../img/services/main1_ozelen_krysha.jpg"><a href=""><p>Озеленення даху</p></a></div>
    </div>
<!------------------------------------СХЕМА РОБОТИ--------------------------------------------------------->
    <div class="services__work">
        <h3>Схема роботи для ідеального результату</h3>
    </div>
    <div class="services__work--flex">
        <div class="services__work__item">
            <div class="services__work_button">
                <p>1. Ви оформляєте замовлення і наш менеджер зв*язується з Вами для уточнення інформації протягом 10 хвилин.</p>
                <div class="about-button "><a href="contact.html">Звяжінься з нами</a></div>
            </div>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>2. Зустрічаємось з Вами на об'єкт, потім укладений договір і затверджуємо суму по об'єкту. Термін 1-2 дня.</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>3. Проектний відділ приступає до розробки концептуального рішення. 7 днів.</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>4. Утвердження і підпис генерального плану. 10 днів.</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>5. Розробляється робоча документація (автополив, мощення, дендрологічний план, посадочний чортеж з асоційованою інформацією). 20 днів.</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>6. Наші спеціалісти по благоустрою приступають до роботи на об'єкті. 1 мес.</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>7. Якість виконання роботи (час залежить від обєми).</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>8. Здача об'єкта замовлення і повний розрахунок. Підпис актів виконаних робіт.</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="services__work__item">
            <p>9. Гарантії на виконані роботи від «Landscaping» - 1 рік!</p>
        </div>
    </div>
<!------------------------------------ТАБЛИЦЯ РОЗРАХУНКУ ЦІН-------------------------------------------------->
    <div class="services__calculator">
        <h3>Ціни</h3>
    </div>
    <div class="landing-section">
        <div>
            <table class="table__price">
                <tr>
                    <td colspan="4" style="background-color: #3a945b" ><h4 class="table_header" >Прайс на проектно-вишукувальні роботи</h4></td>
                </tr>
                <tr style="background-color: #73df9a">
                    <td>Назва</td>
                    <td>Опис</td>
                    <td>Одиниця вимірювання</td>
                    <td>Ціна од. грн.</td>
                </tr>
                <tr>
                    <td>Геодезична зйомка ділянки</td>
                    <td>&nbsp;</td>
                    <td>100 м<sup>2</sup></td>
                    <td>130</td>
                </tr>
                <tr>
                    <td>Генплан </td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>220</td>
                </tr>
                <tr>
                    <td>Дендроплан ділянки</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>270</td>
                </tr>
                <tr>
                    <td>Посадочно-розбівочний креслення</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>План мощення</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>Схема автоматичного поливу</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>130</td>
                </tr>
                <tr>
                    <td>Схема освітлення</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Схема дренажу</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>420</td>
                </tr>
                <tr>
                    <td>Візуалізація</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Анімація на основі Генплану</td>
                    <td></td>
                    <td>100 м<sup>2</sup></td>
                    <td>150</td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color: #3a945b"><h4 class="table_header">Прайс на роботи з благоустрою та озеленення</h4></td>
                </tr>
                <tr>
                    <td>Висадка дерев</td>
                    <td>Повний цикл робіт</td>
                    <td>шт</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Висадка кустарників</td>
                    <td>Повний цикл робіт</td>
                    <td>шт</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>Висадка квітів</td>
                    <td>Повний цикл робіт</td>
                    <td>м<sup>2</sup></td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>Земляні роботи</td>
                    <td>Завезення родючого грунту</td>
                    <td>м<sup>2</sup></td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>Укладання тротуарної плитки</td>
                    <td></td>
                    <td>м<sup>2</sup></td>
                    <td>190</td>
                </tr>
                <tr>
                    <td>Укладання газону (рулонного, посівного)</td>
                    <td>Укладання рулонного газону (посів), внесення добрив. Перший покіс</td>
                    <td>м<sup>2</sup></td>
                    <td>50</td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color: #3a945b"><h4 class="table_header">Сервіс та обслуговування ділянок</h4></td>
                <tr>
                    <td>Дерева</td>
                    <td>Вартість обслуговування за один місяць</td>
                    <td>шт</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Кустарники</td>
                    <td>Вартість обслуговування за один місяць</td>
                    <td>шт</td>
                    <td>33</td>
                </tr>
                <tr>
                    <td>Квітники</td>
                    <td>Вартість обслуговування за один місяць</td>
                    <td>м<sup>2</sup></td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>Альпійська гірка</td>
                    <td>Вартість обслуговування за один місяць</td>
                    <td>м<sup>2</sup></td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Газон</td>
                    <td>Вартість обслуговування за один місяць</td>
                    <td>м<sup>2</sup></td>
                    <td>15</td>
                </tr>
            </table>
        </div>
    </div>

<!------------------------------------КАЛЬКУЛЯТОР РОЗРАХУНКУ ЦІН--------------------------------------------->
    <div class="services__calculator">
        <h3>Калькулятор розрахунку ціни</h3>
    </div>

    <div class="landing-section">
        <div class="price">
            <div class="price__title"><h5>Розрахунок вартості</h5></div>
            <div id="calculator" class="calculator">
                <table>
                    <colgroup>
                        <col width="80%">
                        <col width="20%">
                    </colgroup>
                    <tbody>
                    <tr class="calculator__header">
                        <td colspan="3">Прайс на проектно-вишукувальні роботи</td>
                    </tr>
                    <tr class="required">
                        <td>Геодезична зйомка ділянки</td>
                        <td><input name="project__area__1" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Генплан</td>
                        <td><input name="project__area__2" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Дендроплан ділянки</td>
                        <td><input name="project__area__3" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>Посадочно-розбівочний креслення</td>
                        <td><input name="project__area__4" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr>
                        <td>План мощення</td>
                        <td><input name="project__area__5" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Схема автоматичного поливу</td>
                        <td><input name="project__area__6" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Схема освітлення</td>
                        <td><input name="project__area__7" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Схема дренажу</td>
                        <td><input name="project__area__8" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Візуалізація</td>
                        <td><input name="project__area__9" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Анімація на основі Генплану</td>
                        <td><input name="project__area__10" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>

                    <tr class="calculator__header">
                        <td colspan="3" style="background-color: #3a945b">Прайс на роботи з благоустрою та озеленення</td>
                    </tr>
                    <tr class="">
                        <td>Висадка дерев</td>
                        <td><input name="improve__1" type="text" value=""></td>
                        <td>шт</td>
                    </tr>
                    <tr class="required">
                        <td>Висадка кустарників</td>
                        <td><input name="improve__2" type="text" value=""></td>
                        <td>шт</td>
                    </tr>
                    <tr class="required">
                        <td>Висадка квітів</td>
                        <td><input name="improve__3" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Земляні роботи</td>
                        <td><input name="improve__4" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Укладання тротуарної плитки</td>
                        <td><input name="improve__5" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Укладання газону (рулонного, посівного)</td>
                        <td><input name="improve__6" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>


                    <tr class="calculator__header">
                        <td colspan="3">Сервіс та обслуговування ділянок</td>
                    </tr>
                    <tr class="">
                        <td>Дерева</td>
                        <td><input name="service__1" type="text" value=""></td>
                        <td>шт</td>
                    </tr>
                    <tr class="required">
                        <td>Кустарники</td>
                        <td><input name="service__2" type="text" value=""></td>
                        <td>шт</td>
                    </tr>
                    <tr class="required">
                        <td>Квітники</td>
                        <td><input name="service__3" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Альпійська гірка</td>
                        <td><input name="service__4" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    <tr class="required">
                        <td>Газон</td>
                        <td><input name="service__5" type="text" value=""></td>
                        <td>м<sup>2</sup></td>
                    </tr>
                    </tbody>
                </table>

                <div class="total total__a">
                    Приблизна вартість на проектно-вишукувальні роботи:
                    <div><span class="total__a"> </span>&nbsp;грн.</div>
                </div>
                <div class="total total__b">
                    Приблизна вартість на роботи з благоустрою та озеленення:
                    <div><span class="total__b"> </span>&nbsp;грн.</div>
                </div>
                <div class="total total__c">
                Приблизна вартість за сервіс та обслуговування ділянок:
                    <div><span class="total__c"> </span>&nbsp;грн.</div>
                </div>
                <div class="total total__all">
                    Всього:
                    <div><span class="total__all"> </span>&nbsp;грн.</div>
                </div>

            </div>
        </div>
    </div>

</section>




<!--------------------------------------------------------------- FOOTER ---------------------------------------->
<section class="footer ">
    <div class="footer__container">
        <div class="footer__container-coll-3">
            <h6 class="footer-name">Landscaping</h6>
            <p>Вирішить всі ваші проблеми!</p>
        </div>

        <div class="footer__container-coll-3">
            <h6 class="footer-social">Наш профіль в соціальних мережах:</h6>
            <p class="footer-social-icon">
                <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a>
                <a href="https://vk.com" target="blank"><i class="fa fa-vk"></i></a>
                <a href="https://twitter.com" target="blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com" target="blank"><i class="fa fa-youtube"></i></a>
            </p>

        </div>

        <div class="footer__container-coll-3">
            <h6>Потрібно шось тут написати</h6>
            <p>Потрібно шось тут написати!</p>
        </div>

    </div>
</section>

<!--Підключаємо jquery-->
<script src="../libs/jquery/jquery-3.4.1.min.js"></script>

<!--Підключаємо власний JavaScript-->
<script src="../js/calculator.js"></script>

</body>
</html>